{{define "listPage"}}
    {{template "header" .}}
    <blockquote>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th {
                background-color: #007bff;
                color: #fff;
            }
            th,
            td {
                padding: 10px;
                text-align: left;
            }
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
        </style>
        <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {{range .MsgList}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Message}}</td>
                <td>{{.Time}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}